 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Life</h2>
      <p>One strikingly pretty girl and two cute cats accompanied me. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <p>My main development language is C++, but I have worked with Go, Python, and more..</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Linux, CentOS, Git, Wiki, Clion, SecureCRT, StreamTools you name it, I have used a bajillion tools!</p>
    </div>
</div>
