<div class="user-details">
  <h1>个人主页</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Life</h2>
    <img src="https://i.postimg.cc/66GNYZ26/cat.jpg">
    <p>游泳是我的特长,摄影是我的爱好,有两只猫, 名为兜兜和小小熊~</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>C++是我主要使用的语言, 但是也使用go写过调度系统,微信小程序等规模不大的代码, 平时工作中也喜欢用脚本语言辅助完成一些自动化任务.//My main development language is C++, but I have worked with Go, Python, and more..</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Linux, CentOS, Git, Wiki, Clion, SecureCRT, StreamTools you name it, I have used a bajillion tools!</p>
  </div>
</div>